{% extends 'MDSCApp/base.html' %}
{% load static %}

{% block title %}Puzzle 3: I Can't Hear You!{% endblock %}

{% block content %}

<div class="container inner-container" style="border-color: #2a79bd;">
  <center>
    <h4>Puzzle {{puzInfo.puzId}}</h4>
    <h2 style="margin-bottom: 1rem">{{puzInfo.title}}</h2>
    <p class="flavourtext"><b>Errata 09:52am 29/06:</b> The word "poems" in the 2nd clue was changed to "articles". The word "Vanguard" in the 11th clue was capitalised. The PDF has also been updated with these changes.</p>
    <a class="btn btn-primary" href="/pdf/3/" target="_blank" style="margin: 5px;">Download PDF version</a>
    <a class="btn btn-success" href="/solve/3/" style="margin: 5px;">Submit a guess</a>
    <br>
    {% if puzInfo.hints %}
      <button class="btn btn-warning" type="button" data-bs-toggle="collapse" data-bs-target="#hint1" aria-expanded="false" aria-controls="hint1" style="margin:5px">
        Early hint (show/hide)
      </button>
      <div id="hint1" class="collapse">
        <p>When in doubt, speak it aloud. How do the answers fit the clues?</p>
      </div>
      <br>
      <button class="btn btn-warning" type="button" data-bs-toggle="collapse" data-bs-target="#hint2" aria-expanded="false" aria-controls="hint2" style="margin:5px">
        Late hint (show/hide)
      </button>
      <div id="hint2" class="collapse">
        <p>Some steps in life are best taken not once, but twice.</p>
      </div>
    {% endif %}
    <br>
    <p class="flavourtext">
      The hospital’s phone lines are terrible! You can barely understand what cryptic things these doctors are trying to tell you over the static, but you try your best to listen anyway. You did however manage to catch these words:
    </p>
  </center>
  
  <link rel="stylesheet" type="text/css" href="{% static 'MDSCApp/css/puzzle3.css'%}">

  <div>
    <ol>
      <li><b>Infectious disease physician:</b>  “… shout bumbling clumsy idiot <span class="static-span">*CLLLLT*</span> Vesper <span class="static-span">*CRRRRT*</span> Lynd actress's first name …”</li>

      <li><b>Neurologist:</b>  “… <span class="static-span">*CLLLLT*</span> unused people <span class="static-span">*CRRRRT*</span> who create literature, articles …”</li>

      <li><b>Geriatrician:</b>  “… fiend <span class="static-span">*CLLLLT*</span> or <span class="static-span">*CRRRRT*</span> monster king of Persia …”</li>
      
      <li><b>Infectious disease physician:</b>  “… Tik's partner hand detergent <span class="static-span">*CLLLLT*</span> to Scottish girl prophet from Abrahamic religions <span class="static-span">*CRRRRT*</span> …”</li>
      
      <li><b>Respiratory physician:</b>  “… recent cut grass <span class="static-span">*CLLLLT*</span> for the Norse <span class="static-span">*CRRRRT*</span> thunder god's lumberjacking tool …”</li>
      
      <li><b>Haematologist:</b>  “… <span class="static-span">*CLLLLT*</span> one of <span class="static-span">*CRRRRT*</span> the ankle bones' stitch with the hearing appendage …”</li>
      
      <li><b>Gastroenterologist:</b>  “… the Royal Queensland Show plants; German <span class="static-span">*CLLLLT*</span>, <span class="static-span">*CRRRRT*</span> yes! …”</li>
      
      <li><b>Colorectal surgeon:</b>  “… giant Scomo’s favourite carbon <span class="static-span">*CLLLLT*</span> fuel situated above <span class="static-span">*CRRRRT*</span> …”</li>
      
      <li><b>Gastroenterologist:</b>  “… desperate flightless bird native to <span class="static-span">*CLLLLT*</span> South <span class="static-span">*CRRRRT*</span> America …”</li>
      
      <li><b>Cardiologist:</b>  “… tide <span class="static-span">*CLLLLT*</span> recedes out from the Nutbush City Limit singer's <span class="static-span">*CRRRRT*</span> first name usually …”</li>
      
      <li><b>Rheumatologist:</b>  “… Vanguard <span class="static-span">*CLLLLT*</span> ASX code <span class="static-span">*CRRRRT*</span> prompt Zippos, as an example …”</li>
      
      <li><b>Oncologist:</b>  “… abject fear <span class="static-span">*CLLLLT*</span> of drag female <span class="static-span">*CRRRRT*</span> parent …”</li>

    </ol>
  </div>

  <br>
</div>

{% endblock %}
