{% extends 'MDSCApp/base.html' %}
{% load static %}

{% block title %}Puzzle 2: Wardle{% endblock %}

{% block content %}

      
<div class="container inner-container" style="border-color: #235c4a;">
  <center>
    <h4>Puzzle {{puzInfo.puzId}}</h4>
    <h2 style="margin-bottom: 1rem">{{puzInfo.title}}</h2>
    {% if not puzInfo.sols %}
      <a class="btn btn-success" href="/solve/{{puzInfo.puzId}/" style="margin: 5px;">Submit a guess</a>
    {% else %}
      <a class="btn btn-info" href="/solution/{{puzInfo.puzId}/" style="margin: 5px;">View solution</a>
    {% endif %}
    <br>
    {% if puzInfo.hints %}
      <button class="btn btn-warning" type="button" data-bs-toggle="collapse" data-bs-target="#hint1" aria-expanded="false" aria-controls="hint1" style="margin:5px">
        Hint (show/hide)
      </button>
      <div id="hint1" class="collapse">
        <p>One of these Wardles is not like the rest!</p>
      </div>
    {% endif %}
    <br><br>
    <p class="flavourtext">
      After a gruelling consultant word round, you decide to have a break and play a few rounds of your favourite ward game. Trouble is, there are so many to attempt.
    </p>
  </center>
  

  <div class="wardle-cards">
    {% for wardle in "123456" %}
      {% if wardle in "14" %}
        <div class="row">
      {% endif %}
        <div class="col-sm-4">
          <div class="card ward-card" >
            {% if wardle == "6" %}
              <a href="/wardle/infinity/">
            {% else %}
              <a href="/wardle/{{wardle}}/">
            {% endif %}
              <div class="card-body" style="text-align: center; vertical-align: center;">
                {% if wardle == "6" %}
                  <h4>Wardle #♾️</h4>
                {% else %}
                  <h4>Wardle #{{wardle}}</h4>
                {% endif %}
              </div>
            </a>
          </div>
        </div>
      {% if wardle in "36" %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

{% endblock %}
