{% extends 'MDSCApp/base.html' %}

{% block title %}MDSC Puzzles{% endblock %}

{% block content %}
  <div class="container">
    <center>
      <h5>Read our <a class="home-a" href="/wrapup/">wrap-up</a> and give us some <a class="home-a" href="https://forms.gle/iHtGzufTq46k7JAYA" target="_blank">feedback</a>!</h5>
      <br>
      <h2>Welcome to</h2>
      <img src="/static/MDSCApp/img/Logo_text_puzzle3.png" alt="MDSC Logo" style="width: min(100%, 900px);padding-top:10px">
      <br><br><br>
      <h4>Puzzles are released <b>daily at 9am</b>, starting on <b>Monday 27th June.</b></h4>
      <h4>Solve them to win a total of <b>4000</b> challenge points!</h4>
      <br>
      <a class="home-a" href='/instructions/'><h5><b>What are these "puzzles"?</b></h5></a>
      <a class="home-a" href='/puzzles/'><h5><b>Let's do some puzzles!</b></h5></a>
      <h5>Liked Wardle and want more? Try <a class="home-a" href="/wardle/" target="_blank">Wardle: Casual Mode</a></h5>
    </center>
    <h1></h1>
  </div>

{% endblock %}
