{% extends 'MDSCApp/base.html' %}

{% block title %}MDSC Puzzles{% endblock %}

{% block content %}
  <div class="container">
    <center>
      <br>
      <h2>Welcome to</h2>
      <img src="/static/MDSCApp/img/Logo_text_puzzle2.png" alt="MDSC Logo" style="min-width:60%;max-width:65%;padding-left:20px;padding-top:10px">
      <br><br><br>
      <h4>Puzzles are released <b>daily at 9am</b>, starting on <b>Monday 27th June</b></h4>
      <br>
      <a class="home-a" href='/instructions/'><h5><b>What are these "puzzles"?</b></h5></a>
      <a class="home-a" href='/puzzles/'><h5><b>Let's do some puzzles!</b></h5></a>
    </center>
    <h1></h1>
  </div>

{% endblock %}
