{% extends 'MDSCApp/base.html' %}
{% load static %}

{% block title %}Puzzles List{% endblock %}

{% block content %}

<div class="container">
  <center>
    <br>
    <h2>Puzzles List (State: {{puzzleState}})</h2>
  </center>

<div class="container">
  {% for puz in puzInfo %}
    {% if not puz.id|divisibleby:2 %}
      <div class="row">
    {% endif %}
      <div class="col-sm">
        <center>
          <div class="puzzle-btn" id="puzzle-btn{{puz.id}}">
            {% if puzzleState < puz.id %}

                <h4 style="font-style: italic;">Puzzle {{puz.id}}</h4>
                <p id="puzzle-btn{{puz.id}}-countdown"></p>

            {% else %}

                <h4>Puzzle {{puz.id}}: {{puz.title}}</h4>
                <table style="width:80%;">
                  <tbody style="width:100%">
                    <tr>
                      <td class="puzzle-info1">Solves:</td>
                      <td class="puzzle-info2">{{puz.solves}}</td>
                    </tr>
                    <tr>
                      <td class="puzzle-info1">Guesses:</td>
                      <td class="puzzle-info2">{{puz.guesses}}</td>
                    </tr>
                  </tbody>
                </table>
                <a href="/puzzle/{{puz.id}}/"><span class="hyperspan"></span></a>
    
            {% endif %}
          </div>
        </center>
      </div>

    {% if puz.id|divisibleby:2 %}
      </div>
    {% endif %}
  {% endfor %}
</div>

<script src="{% static 'MDSCApp/js/puzzles.js' %}" type="text/javascript"></script>


{% endblock %}