{% extends 'MDSCApp/base.html' %}
{% load static %}

{% block title %}Wrap-up{% endblock %}

{% block content %}
<div class="container inner-container">
  <center>
    <h2>Wrap-up</h2>
    <h6>Credits: Allen Gu (MD4), Daniel Tao (MD3)</h6>
  </center>
  <br>
  
  <div class="container">
    <!-- <p>Firstly, thank you all so much for taking part in this Puzzle Hunt! This is the second time we've made puzzles for MDSC, and it was incredibly enjoyable for us. We hope you've found the puzzles as fun as we had making them, and that you're keen for more puzzles in the future!</p>
    <p></p>-->  
    <h4>Wrap-up coming very soon; keep an eye out!</h4>
  </div>


</div>


{% endblock %}
