@font-face {
    font-family: 'Solomon Sans';
    src: url('Solomon Sans/Solomon Sans Normal.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Solomon Sans';
    src: url('Solomon Sans/Solomon Sans Normal Italic.otf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Solomon Sans';
    src: url('Solomon Sans/Solomon Sans Black.otf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Solomon Sans';
    src: url('Solomon Sans/Solomon Sans Black Italic.otf');
    font-weight: bold;
    font-style: italic;
}