@import "fonts.css";

.mdsc-grad {
  /*height: 200px;*/
  width: 100%;
  height: 100%;
  background-color: #1e7bca; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, #1e7bca, #acdb69);
  font-family: 'Solomon Sans';
  font-weight: normal;
  font-style: normal;
  font-size: 13pt;
}

.outer-container{

}

html, body {
  min-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

.container{
  min-width: 95%;
}

.inner-container {
  background-color: white;
  border: 5px solid;
  border-color: #7030b3;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#footer {
  width: 100%;
  text-align: center;
  font-size: 8pt ;
  bottom: 0;
  padding: 20pt;
}

.main-nav{
  width: 100%;
  display: table;
  table-layout: fixed;
  position: relative;
  padding-top: 15px;
}

.link-nav{
  display: table-cell;
  text-align: center;
}

.navbar-light .navbar-nav .nav-link{
  color: rgb(0,0,0,1);
  font-weight: bold;
  font-size: 15pt;
}

.home-a {
  color: #4f168a;
}

.home-a:hover {
  color: #876009;
}

/*puzzle buttons*/

.puzzle-btn {
  border: 7px solid;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  width: 75%;
  height: 150px;
  position: relative;
}

#puzzle-btn1 {
  background-color: #4e9cde;
  border-color: #13446e;
}

#puzzle-btn2 {
  background-color: #a573d9;
  border-color: #502280
}

#puzzle-btn3 {
  background-color: #6ee0bc;
  border-color: #235c4a;
}

#puzzle-btn4 {
  background-color: #ebd29b;
  border-color: #4d3e1f; 
}

#puzzle-btn-ghost {
  background-color: transparent;
  border-color: transparent; 
  border: none;
}

.puzzle-info1{
  text-align: right;
  font-weight: bold;
  padding-right: 0.5em;
  width: 60%;
}

.puzzle-info2{
  text-align: left;
  padding-left: 0.5em;
  width: 40%;
}

.hyperspan {
  position:absolute;
  width:100%;
  height:100%;
  left:0;
  top:0;
}

