.mdsc-grad {
  /*height: 200px;*/
  width: 100%;
  min-height: 100%;
  background-color: #1e7bca; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, #1e7bca, #acdb69);
  font-family: 'Noto Sans';
  font-weight: normal;
  font-style: normal;
  font-size:0.8rem;
  touch-action: manipulation;
}

@media (min-width: 768px) {
  .mdsc-grad {font-size:0.98rem;}
}
 
@media (min-width: 992px) {
  .mdsc-grad {font-size:1rem;}
}
 
.outer-container{

}

html, body {
  height: max(100%, 100vh);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

.container{
  min-width: 95%;
}

.inner-container {
  background-color: white;
  border: 5px solid;
  border-color: #7030b3;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/*.solve-container {
  max-width: 60%;
  margin: auto;
}
*/
#footer {
  width: 100%;
  text-align: center;
  font-size: 0.8rem ;
  bottom: 0;
  padding: 20pt;
}

.main-nav{
  width: 100%;
  display: table;
  table-layout: fixed;
  position: relative;
  padding-top: 15px;
}

.link-nav{
  display: table-cell;
  text-align: center;
}

.navbar-light .navbar-nav .nav-link{
  color: rgb(0,0,0,1);
  font-weight: bold;
  font-size: 1.3rem;
}

.home-a {
  color: #4f168a;
}

.home-a:hover {
  color: #876009;
}

/*puzzle buttons*/

.puzzle-btn {
  border: 7px solid;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  width: 75%;
  position: relative;
  min-height: 150px;
}

#puzzle-btn1 {
  background-color: #a573d9;
  border-color: #502280
}

#puzzle-btn2 {
  background-color: #6ee0bc;
  border-color: #235c4a;
}

#puzzle-btn3 {
  background-color: #4e9cde;
  border-color: #13446e;
}

#puzzle-btn4 {
  background-color: #ebd29b;
  border-color: #4d3e1f; 
}

#puzzle-btn-ghost {
  background-color: transparent;
  border-color: transparent; 
  border: none;
}

.puzzle-info1{
  text-align: right;
  font-weight: bold;
  padding-right: 0.5em;
  width: 55%;
}

.puzzle-info2{
  text-align: left;
  padding-left: 0.5em;
  width: 45%;
}

.hyperspan {
  position:absolute;
  width:100%;
  height:100%;
  left:0;
  top:0;
}

.alert {
  text-align: center;
}


/*Leaderboard styles*/
.outcome-time {
  font-size: 0.6rem;
  color: grey;
}

.row {
  /*word-wrap: break-word;*/
}

.flavourtext {
  font-style: italic;
}

.ward-card {
  margin-bottom: 10px;
  margin-top: 10px;
  border: 1px solid rgb(0,0,0,1);
  border-radius: 0.5rem;
}