.sol-hl {
  font-weight: bold;
  color: green;
}

.sol-hl-r {
  font-weight: bold;
  color: red;
}

.sol-hl-b {
  font-weight: bold;
  color: blue;
}

.sol-table {
  width: auto;
}

.table-sm>:not(caption)>*>* {
  padding-left: 1rem;
  padding-right: 1rem;
}
